```{=html}

<ul class="testimonials-list">
<% for (const item of items) { %>  
    <li class="testimonial-item">
        <div class="testimonial-header">
            <% if (item.person_image) { %>
                <div class="profile-pic"><img src="<%- item.person_image %>"></div>
            <% } else { %>
                <div class="profile-pic"><%- item.person_initials %></div>
            <% } %>

            <div class="client-info">
                <div class="client-name"><%- item.person_name %></div>
                <div class="client-title"><%- item.person_job_title %></div>
            </div>
            
            <img class="company-logo" src="<%- item.company_logo %>" alt="<%- item.company_name %>">
            
        </div>
        <div class="testimonial-text">
            <% item.message.forEach(function(msgObj, index) { %>
                <p><%= msgObj.paragraph %></p>
            <% }); %>
        </div>
    </li>
<% } %>
</ul>

```